$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?a11ca5b5204c335d515bbe0f711f2dcf") format("truetype"),
url("./flaticon.woff?a11ca5b5204c335d515bbe0f711f2dcf") format("woff"),
url("./flaticon.woff2?a11ca5b5204c335d515bbe0f711f2dcf") format("woff2"),
url("./flaticon.eot?a11ca5b5204c335d515bbe0f711f2dcf#iefix") format("embedded-opentype"),
url("./flaticon.svg?a11ca5b5204c335d515bbe0f711f2dcf#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "user": "\f101",
    "high-speed": "\f102",
    "call": "\f103",
    "tv": "\f104",
    "placeholder": "\f105",
    "envelope": "\f106",
    "clock": "\f107",
    "wifi-router": "\f108",
    "devices": "\f109",
    "telephone": "\f10a",
    "wifi": "\f10b",
    "support": "\f10c",
    "sim-card": "\f10d",
);

.flaticon-user:before {
    content: map-get($flaticon-map, "user");
}
.flaticon-high-speed:before {
    content: map-get($flaticon-map, "high-speed");
}
.flaticon-call:before {
    content: map-get($flaticon-map, "call");
}
.flaticon-tv:before {
    content: map-get($flaticon-map, "tv");
}
.flaticon-placeholder:before {
    content: map-get($flaticon-map, "placeholder");
}
.flaticon-envelope:before {
    content: map-get($flaticon-map, "envelope");
}
.flaticon-clock:before {
    content: map-get($flaticon-map, "clock");
}
.flaticon-wifi-router:before {
    content: map-get($flaticon-map, "wifi-router");
}
.flaticon-devices:before {
    content: map-get($flaticon-map, "devices");
}
.flaticon-telephone:before {
    content: map-get($flaticon-map, "telephone");
}
.flaticon-wifi:before {
    content: map-get($flaticon-map, "wifi");
}
.flaticon-support:before {
    content: map-get($flaticon-map, "support");
}
.flaticon-sim-card:before {
    content: map-get($flaticon-map, "sim-card");
}
